# Ignore Windows junk
Thumbs.db
Desktop.ini

# Ignore PowerShell history
*.history
*.bak

#Screenshot Ignore
*.png
*.jpg
!Screenshots/*.png
!Screenshots/*.jpg


# Font Zip Ignore
Font/*.zip

# Ignore VS Code settings (if any)
.vscode/

# Ignore logs
*.log

# Ignore temporary files
~*

# Ignore node/npm cache
node_modules/
npm-debug.log*

# Ignore Python cache
__pycache__/
*.pyc
