# Windows crap
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PowerShell history
*.History*

# Logs
*.log

# Archives
*.zip
*.7z
*.tar
*.gz
*.rar
